.axis,
.axis-title,
.chart-title,
.legend{
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
}
.axis text {
  font-size: 14px;
}
.axis-title {
  font-size: 18px;
}
.chart-title {
  font-size: 24px;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#tooltip {
    position: absolute;
    width: 140px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}
#tooltip.hidden {
    opacity: 0;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
